body{
    background-color: #b08966;


}

    h1{
        color: #77461b;
        font-family: cursive;
        font-size: 38px;
        text-align: center;
    }
    p{
        text-align: center;
        font-family: cursive;
        font-size: 30px;
        color: #1b1b1b;
    }

    #Girassol{
        width: 100%;
    }

    h2{
        font-family: cursive;
        font-size: 38px;
        color:#77461b;

    }

    li{
         font-family: cursive;
         font-size:30px ;
         color: #1b1b1b;

    }
    .container{
        width: 33%;
        margin: 0 auto;
    }
    
    header{
        background:#BBBB;
        padding: 20px 0;
    }
   
    .caixa{
        width: 940px;
        position:relative;
        margin: 0 auto;

    }

    nav{ position:absolute;
        top:110px.
        right: 0;
       }

       nav li{
         display:inline;
         margin: 0 0 0  15px

          }


          nav a{
            text-transform:uppercase;
            color: #0000;
            font-weight: bold;
            font-size: 22px;
            text-decoration: none;



          }